In [1]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
pd.options.mode.chained_assignment = None

tickers = ['SPY','VEA','VWO','AGG','SHY','IEF','LQD']

In [2]:
tickers

['SPY', 'VEA', 'VWO', 'AGG', 'SHY', 'IEF', 'LQD']

In [3]:
def VAAcalc(asset):
    df = yf.download(asset,start='1994-01-01')
    df['MA12'] =df['Adj Close'].rolling(window=365).mean()  #from 'AdjClose' column , 200days Moving Average ->MA200
    df['MA6'] =df['Adj Close'].rolling(window=180).mean()
    df['MA3'] =df['Adj Close'].rolling(window=120).mean() 
    df['MA1'] =df['Adj Close'].rolling(window=30).mean() 
    df['MA1'] =df['Adj Close'].rolling(window=30).mean() 
    df['M Score'] = (12*((df['Adj Close']/df['MA1'])-1)) + (4*((df['Adj Close']/df['MA3'])-1)) + (2*((df['Adj Close']/df['MA6'])-1)) + ((df['Adj Close']/df['MA12'])-1)
    df = df.dropna()
  #  df['price change'] = df['Adj Close'].pct_change() # daily return
  #  df['Upmove'] = df['price change'].apply(lambda x: x if x >0 else 0)
  #  df['Downmove'] = df['price change'].apply(lambda x: abs(x) if x < 0 else 0)
  #  df['avg Up'] = df['Upmove'].ewm(span=19).mean()
  #  df['avg Down'] = df['Downmove'].ewm(span=19).mean() 
  #  df['RS'] = df['avg Up'] / df['avg Down']
  #  df['RSI'] = df['RS'].apply(lambda x: 100 - (100/(x+1)))
  #  df.loc[(df['Adj Close'] > df['MA200']) & (df['RSI'] < 30), 'Buy'] = 'Yes'
  #  df.loc[(df['Adj Close'] < df['MA200']) | (df['RSI'] > 30), 'Buy'] = 'No'
    
    return df

In [4]:
s = VAAcalc(tickers[0])['M Score']

[*********************100%***********************]  1 of 1 completed

In [5]:


for i in range(len(tickers)) : 
    globals()['frame_{}'.format(i)] = VAAcalc(tickers[i])['M Score'] # VAAcalc 는 series => frame_0, frame_1 ...
    
frame_M = pd.concat([frame_0, frame_1, frame_2, frame_3, frame_4, frame_5, frame_6], axis=1, keys = ['SPY_M','VEA_M','VWO_M','AGG_M','SHY_M','IEF_M','LQD_M'])
    
    # frame = frame []
    # Momentum_frame = 
    # matrixprofits.append(Profits)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
frame_M['Highest_Attact'] = frame_M[['SPY_M','VEA_M','VWO_M','AGG_M']].max(axis=1)
frame_M['Lowest_Attact'] = frame_M[['SPY_M','VEA_M','VWO_M','AGG_M']].min(axis=1)
frame_M['Highest_Defence'] = frame_M[['SHY_M','IEF_M','LQD_M']].max(axis=1)
frame_M['Lowest_Defence'] = frame_M[['SHY_M','IEF_M','LQD_M']].min(axis=1)


#if frame_M['Lowest_Attact'] >= 0 :
 #   frame_M['Choice'] = frame_M['Highest_Attact'] 
#else :
 #   frame_M['Choice'] = frame_M['Highest']

In [7]:
frame_M

,SPY_M,VEA_M,VWO_M,AGG_M,SHY_M,IEF_M,LQD_M,Highest_Attact,Lowest_Attact,Highest_Defence,Lowest_Defence
Date,,,,,,,,,,,
1995-06-12,0.794962,NaN,NaN,NaN,NaN,NaN,NaN,0.794962,0.794962,NaN,NaN
1995-06-13,0.981250,NaN,NaN,NaN,NaN,NaN,NaN,0.981250,0.981250,NaN,NaN
1995-06-14,0.937389,NaN,NaN,NaN,NaN,NaN,NaN,0.937389,0.937389,NaN,NaN
1995-06-15,1.001032,NaN,NaN,NaN,NaN,NaN,NaN,1.001032,1.001032,NaN,NaN
1995-06-16,1.035684,NaN,NaN,NaN,NaN,NaN,NaN,1.035684,1.035684,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2021-11-02,1.120406,0.491109,-0.150726,0.019706,-0.033693,-0.045501,0.099556,1.120406,-0.150726,0.099556,-0.045501
2021-11-03,1.210087,0.612986,-0.015097,-0.013779,-0.036586,-0.096161,0.057210,1.210087,-0.015097,0.057210,-0.096161
2021-11-04,1.274740,0.591763,-0.055298,0.050449,-0.018043,0.008857,0.158417,1.274740,-0.055298,0.158417,-0.018043
2021-11-05,1.313077,0.621472,-0.051532,0.123754,-0.008677,0.111828,0.295305,1.313077,-0.051532,0.295305,-0.008677
2021-11-08,1.296814,0.620941,0.139560,0.087740,-0.029767,0.028948,0.248381,1.296814,0.087740,0.248381,-0.029767

In [9]:
# Keep Buying Method

#if frame_M['Lowest_Attact'] < 0 : # lowest among Attack 4 below 0
 #   frame_M['choice'] =  # lowest among Defence 3 below 0
        
        # put Highest value among Defence 3 'Choice' column
frame_M[['SHY_M','IEF_M','LQD_M']].idxmax(axis=1)

Date
1995-06-12      NaN
1995-06-13      NaN
1995-06-14      NaN
1995-06-15      NaN
1995-06-16      NaN
              ...
2021-11-02    LQD_M
2021-11-03    LQD_M
2021-11-04    LQD_M
2021-11-05    LQD_M
2021-11-08    LQD_M
Length: 6651, dtype: object